<h1>Readme</h1>
<div class="panel panel-default">
  <div class="panel-heading">Points Summary</div>
  <div class="panel-body">
    <ul>
      <li>CTF</li>
      <ul>
        <li>Cheerios: 20 points each</li>
        <li>Flag : 1000 points each</li>
        <li>Small Team amount  = (Team Total / Number of Teams)</li>
      </ul>
      <li>Maximus</li>
      <ul>
        <li>Cheer
          <ul>
            <li>1st: 3,000</li>
            <li>2nd: 2,000</li>
            <li>3rd: 1,000</li>
          </ul>

        </li>
        <li>Race
          <ul>
            <li>1st: 5,000</li>
            <li>2nd: 3,000</li>
            <li>3rd: 2,000</li>
          </ul>
        </li>
      </ul>

      <li>Cabins</li>
      <ul>
        <li>Amounts
          <ul>
            <li>-500</li>
            <li>-250</li>
            <li>0</li>
            <li>250</li>
            <li>500</li>
          </ul>
        </li>
      </ul>
      <li>Trash</li>
      <ul>
        <li>Single piece of trash = 10 points</li>
      </ul>
      <li>Scripture Memory</li>
      <ul>
        <li>(Number of verses / Number of People) * 2500</li>
      </ul>
      <li>Cheer / Awesomeness Points</li>
      <ul>
        <li>PC's choose based off camper engagement, sportsmanship and good attitudes</li>
      </ul>
    </ul>
  </div>
</div>




