<!-- Modal content-->
<div class="modal-content">
  <div class="modal-header">
    <h4 class="modal-title"><i class="fa fa-user"></i> Do you wish to Logout?</h4>
  </div>
  <div class="modal-body">
    <form name="userForm" novalidate> <!-- novalidate prevents HTML5 validation since we will be validating ourselves -->
      <!-- SUBMIT BUTTON -->
      <button ng-click="ok()"
              type="submit"
              class="btn btn-primary">
        <span>Logout</span>
      </button>
      <!--CANCEL-->
      <button ng-click="cancel()"
              type="submit"
              class="btn btn-danger">
        <span>Cancel</span>
      </button>
    </form>
  </div>
</div>
